#container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (min-width: 1000px) {
  #container {
    width: 800px;
  }
}
@media only screen and (max-width: 320px) {
  #container {
    width: 256px;
  }
}

.child {
  flex: 1 0 5.8%; /* explanation below */
  margin: .5px;
  height: 20px;
  background-color: rgb(243, 232, 217);
}